<% provide(:title, "Help") %>
<% if is_admin? %>
  <%= link_to "Редактировать", new_static_field_path, {:class=>"btn btn-default pull-right"} %>
<% end %>
<div class="col-xs-12">
<%=raw @help.force_encoding("utf-8") %>
</div>