<div class="simple_image_block col-xs-6 col-sm-3" data-id="<%= id %>">
    <div class="wrapper">
        <div class="simage_info">
            <div class="simage_title"><%= title %></div>
            <div class="simage_description"><%= description %></div>
        </div>
        <div class="simage_picture"><%= image_tag url %></div>
    </div>
</div>