<% provide(:title, t("press")) %>
<p id="notice"><%= notice %></p>
<% if logged_in? %>
<%= link_to ('New Press <i class="fa fa-plus"></i>').html_safe, new_press_path, :class => "btn btn-success form-control" %>
<% end %>

  <div class="row presses_container">
    <%= render @presses %>
  </div>
<%= will_paginate %>
<br>