<h1>New Press</h1>

<%= render 'form' %>

<script type="text/javascript">
    $(function(){
        
        $('.summernote').summernote({
          lang: 'ru-RU',
          minHeight: 200,
          height: 200
        });
        
    });//document ready func
</script>
