@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "summernote";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@font-face {
  font-family: 'Aniron';
  src:url('AnironKAZ.woff');
  src:url('AnironKAZ.woff') format('woff'),
      url('AnironKAZ.ttf') format('truetype'),
      url('AnironKAZ.svg#AnironKAZ') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* universal */

body {
  height: 100%;
  padding-top: 51px;
  background: url(/assets/main_background.png);
  background-color: #444;
  background-size: 50px;
  div.extra_padding_for_desktops{
    height: 53px;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
#wrap{
  min-height: 100%;
  background-color: #999;
  #mainContainer{
    // overflow: auto;
    // padding-left: 15px;
    // padding-right: 15px;
    padding-bottom: 60px;
  }  
}

#footerContainer{
  background-color: #999;
  position: relative;
  margin-top: -60px; /* negative value of footer height */
  height: 60px;
  clear:both;
  padding-top:20px;
}

.overlay{
  display:none;
  &.delete{
    background-image: image-url("btn_remove");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50%;
  }
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(223, 223, 223, 0.6);
  
  &.o_modal_pic{
    background: rgba(225, 225, 225, 1);
  }
}

.pagination{
  margin:0;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  padding-top: 5px;
  div{
    width: 156px;
    height: 40px;
    overflow:hidden;
    background-image: image-url("logo.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
  }
  &:hover {
    div{
      background-position: 0px -41px;
    }
  }
}

nav.navbar{
  z-index: 999;
  margin-bottom: 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .container{
    padding-left:0px;
    padding-right:0px;
    .navbar-header{
      margin: 0px;
      
    }
    .navbar-collapse{
        padding-left:0px;
        padding-right:0px;
        margin-left: 0px;
        margin-right: 0px;
        .navbar-nav{
          margin-left: 0px;
          margin-right: 0px;
        }
    }
  }
}

#super_navbar{
  #langChoose{
    .dropdown-menu{
      min-width: initial;
    }
  }
  .navbar-form{
    margin-left: 0px;
    margin-right: 0px;
    input{
      margin-bottom: 0px;
    }
    .form-control:focus {
       box-shadow:none;
       -webkit-box-shadow:none; 
       border-color:#cccccc; 
    }
    .input-group-btn > .btn {
      padding: 9px 12px;
      border-left-width:0;left:-2px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
  }
  
  .navbar-nav{
    .open .dropdown-menu{
      background-color: #525252;
      li{
        a{
          color: white;
        }
        a:hover{
          color: #262626;
        }
      }
    }
    & > .active > a{
      background-color: transparent;
    }
  }
  
  .nav_links{
    width: 100%;
    li{
      min-width: 16.666667%;
      a{
        font-family: Aniron;
        text-align: center;
      }
    }
    > .open > a, > .open > a:focus{
      border-bottom: 2px solid #ff002a;
    }
    
    > li > a{
      border-bottom: 2px solid #ccc;
    }
    > .active > a, > .active > a:hover, > .active > a:focus{
      border-bottom: 2px solid #fff;
      text-shadow: white 0px 0px 8px;
      
    }
    > li > a:hover, > li > a:focus{
      border-bottom: 2px solid #777;
      text-shadow: white 0px 0px 8px;
    }
  }
}

/* footer */

footer {
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  display: none;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 25px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  @include box_sizing;
}

.panel{
  margin-bottom: 0px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


// simple images
.simple_images_container{
  background-color: #222;
  padding: 15px;
  margin-left: 0;
  border-radius: 7px;
  margin-right: 0;
  .simple_image_block{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 0px;
    // margin-bottom: 15px;
    .wrapper{
      height: 150px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      overflow: hidden;
      .simage_info{
        padding: 5px 10px;
        background: rgba(255,255,255, 0.6);
        position: absolute;
        height: 150px;
        bottom: -120px;
        left: 0px;
        right: 0px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: 0.5s ease-out 0s;
        -moz-transition: 0.5s ease-out 0s;
        -ms-transition: 0.5s ease-out 0s;
        -o-transition: 0.5s ease-out 0s;
        transition: 0.5s ease-out 0s;
        overflow: auto;
        .simage_title{
          font-weight: bold;
          margin-bottom: 5px;
        }
        
        .simage_description{
          
        }
        
      }
      .simage_picture{
        img{
          min-width: 100%;
          min-height: 150px;
          vertical-align: middle;
        }
        
      }
      
    }
    &:hover{
      .simage_info{
        bottom:0px;
        background: rgba(0,0,0, 0.6);
        color: white;
      }
    }
  }
}

#simpleImageModal{
  .modal-content{
    position: relative;
    background-color: transparent;
    .modal-header{
      color:white;
      background: rgba(0,0,0, 0.6);
      button.close{
        color: white;
        opacity: 1;
        text-shadow: initial;
      }
    }
    .modal-body{
      .modal_image{
        position: relative;
        .modal_controller{
          opacity:0;
          cursor: pointer;
          -webkit-transition: opacity 1s ease 0s;
          -moz-transition: opacity 1s ease 0s;
          -ms-transition: opacity 1s ease 0s;
          -o-transition: opacity 1s ease 0s;
          transition: opacity 1s ease 0s;
          position: absolute;
          top: 0;
          bottom: 0;
          z-index: 1;
          .bg_image{
            position: absolute;
            top: 0;
            left: 0;
            right: 50%;
            bottom: 0;
            width:100%;
            background-repeat: no-repeat;
            background-size: 20% 80%;
          }
          &.left{
            left: 15px;
            right: 50%;
            background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
            background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
            background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
            .bg_image{
              background-image: image-url("arrow_left");
              background-position: 20px 50%;
            }
          }
          &.right{
            left: 50%;
            right: 15px;
            background: -moz-linear-gradient(right,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
            background: -webkit-linear-gradient(right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
            background: linear-gradient(to left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
            .bg_image{
              background-image: image-url("arrow_right");
              background-position: calc(100% - 20px) 50%;
            }
          }
          &:hover{
            opacity:1;
          }
        }
      }
    }//modal body
    .modal-footer{
      text-align: left;
      color:white;
      background: rgba(0,0,0, 0.6);
    }//modal footer
  }//modal content
}